body, header, nav, div, ul, li, h1, h2, h3, h4, h5, h6, main, a, section, article, p, table, tr, th, td {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 13px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, select {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  border-radius: none;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;
}

#skip-nav {
  position: fixed;
  top: -41px;
  left: 0px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  -webkit-transition: top .3s;
  transition: top .3s;
}

#skip-nav:focus {
  top: 0px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 61px;
  background: #fff;
  z-index: 2;
}

i {
  position: relative;
  font-size: 20px;
  color: #7A7F8B;
  text-align: center;
}

.child-text-ir {
  position: absolute;
  left: -9999px;
  width: 0px;
  height: 0px;
}

caption.child-text-ir, label.child-text-ir {
  overflow: hidden;
  width: 0;
  height: 0;
}

#main-tnb {
  height: 100%;
}

#main-tnb .tnb-wrap {
  height: 100%;
  line-height: 61px;
}

#main-tnb .tnb-wrap > li {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  cursor: pointer;
}

#main-tnb .tnb-wrap .menu-bar {
  margin-left: 25px;
}

#main-tnb .tnb-wrap .menu-bar i {
  font-size: 22px;
}

#main-tnb .tnb-wrap .refresh {
  margin-left: 50px;
}

#main-tnb .tnb-wrap .refresh i {
  font-size: 18px;
}

#main-tnb .tnb-wrap .bell {
  position: relative;
  margin-left: 31px;
}

#main-tnb .tnb-wrap .bell.notice:after {
  content: '';
  display: block;
  background-color: #EF5B5C;
  width: 10px;
  height: 10px;
  position: absolute;
  top: auto;
  bottom: 0px;
  right: -3px;
  border-radius: 5px;
}

#main-tnb .tnb-wrap .search-board {
  display: inline-block;
  position: relative;
  width: 300px;
  margin-left: 40px;
}

#main-tnb .tnb-wrap .search-board input {
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0px 35px 0px 15px;
}

#main-tnb .tnb-wrap .search-board input:focus {
  background: #F4F5F7;
}

#main-tnb .tnb-wrap .search-board input:focus + a {
  background: #F4F5F7;
}

#main-tnb .tnb-wrap .search-board a {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
  line-height: 30px;
}

#main-tnb .tnb-wrap .search-board a i {
  position: absolute;
  top: 60%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user-profile {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/avatar_small.jpg) no-repeat center/cover;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 30px;
}

.user-wrap {
  position: absolute;
  top: 0px;
  right: 5%;
  height: 61px;
}

.user-wrap > * {
  vertical-align: top;
}

.user-wrap .user-profile {
  position: absolute;
  top: 50%;
  right: 55px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0px;
}

.user-wrap .user-info {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 25px;
}

.user-wrap .user-info li a {
  height: 100%;
}

.user-wrap .user-info li ul.on {
  display: inline-block;
}

.user-wrap .user-info li ul {
  display: none;
  position: absolute;
  top: 200%;
  right: 0%;
  width: 160px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.user-wrap .user-info li ul:before {
  content: '';
  display: block;
  position: absolute;
  top: -14px;
  left: 140px;
  border: 7px solid gray;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.user-wrap .user-info li ul:after {
  content: '';
  display: block;
  position: absolute;
  top: 75%;
  width: 100%;
  height: 1px;
  background: #EAEDF0;
}

.user-wrap .user-info li ul li {
  position: relative;
  margin: 5px;
  height: 35px;
}

.user-wrap .user-info li ul li:hover {
  background: #F4F6F7;
  border-radius: 2px;
}

.user-wrap .user-info li ul li.notice:after {
  content: '1';
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 85px;
  width: 12px;
  height: 15px;
  background-color: #EF5B5C;
  border-radius: 8px;
  color: #FEF8F8;
  font-size: 12px;
  padding-left: 5px;
  padding-top: 1px;
}

.user-wrap .user-info li ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px 0px 5px 20px;
  line-height: 35px;
  text-transform: capitalize;
  font-size: 14px;
  color: #2D3138;
}

.user-wrap .user-info li ul li i {
  font-size: 13px;
  margin-right: 10px;
  color: #4E5156;
}

.user-wrap .user-info li ul li + li {
  margin-top: 10px;
}

#main-gnb {
  position: fixed;
  top: 61px;
  width: 50px;
  height: 100%;
  background: #27A599;
}

#main-gnb.open {
  display: block;
}

#main-gnb #main-gnb-header {
  display: none;
}

#main-gnb #main-gnb-contents .gnb-user-profile {
  display: none;
}

#main-gnb .main-gnb-menu {
  margin-top: 20px;
}

#main-gnb .main-gnb-menu > li {
  position: relative;
}

#main-gnb .main-gnb-menu > li > a {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-align: center;
}

#main-gnb .main-gnb-menu > li > a i {
  font-size: 15px;
  color: #f5f5f5;
}

#main-gnb .main-gnb-menu > li > a span {
  display: none;
}

#main-gnb .main-gnb-menu > li ul.show {
  display: block;
}

#main-gnb .main-gnb-menu > li ul {
  display: none;
  position: absolute;
  top: 0%;
  left: 100%;
  width: 250px;
  background: #20252C;
}

#main-gnb .main-gnb-menu > li ul li a {
  display: block;
  padding-left: 55px;
  color: #AFB7BF;
  line-height: 40px;
}

#main-gnb .main-gnb-menu > li ul li a:hover {
  background: #1C2026;
  color: #f5f5f5;
}

header.open {
  width: calc(100% - 250px);
  left: 250px;
  right: 0px;
}

header.open #main-gnb {
  top: 0px;
  left: 0px;
  width: 250px;
  background: #1B1E24;
}

header.open #main-gnb #main-gnb-header {
  display: block;
  position: relative;
  height: 60px;
  background: #21262D;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header.open #main-gnb #main-gnb-header h1 {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  float: left;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: lighter;
}

header.open #main-gnb #main-gnb-header h1 span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  margin-left: 1px;
  background: #fff;
  vertical-align: middle;
}

header.open #main-gnb #main-gnb-header ul {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  float: right;
}

header.open #main-gnb #main-gnb-header ul li + li {
  margin-left: 5px;
}

header.open #main-gnb #main-gnb-header ul li {
  position: relative;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  background: black;
  text-align: center;
}

header.open #main-gnb #main-gnb-header ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

header.open #main-gnb #main-gnb-header ul li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  color: #f5f5f5;
}

header.open #main-gnb #main-gnb-header ul .mail.notice:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  bottom: auto;
  right: 3px;
  width: 10px;
  height: 10px;
  background-color: #EF5B5C;
  border-radius: 5px;
}

header.open #main-gnb #main-gnb-contents {
  top: 60px;
}

header.open #main-gnb #main-gnb-contents .gnb-user-profile {
  display: block;
  height: 90px;
  padding-top: 22px;
}

header.open #main-gnb #main-gnb-contents .gnb-user-profile .user-profile {
  float: left;
  background-image: url(../img/avatar.jpg);
  width: 46px;
  height: 46px;
  border-radius: 23px;
  margin: 0px 0px 0px 25px;
}

header.open #main-gnb #main-gnb-contents .gnb-user-profile .user-profile.notice:after {
  width: 13px;
  height: 13px;
  bottom: -3px;
  right: -1px;
  border: none;
  border-radius: 6px;
}

header.open #main-gnb #main-gnb-contents .gnb-user-profile h2 {
  float: left;
  color: #f5f5f5;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 20px;
  margin-left: 15px;
}

header.open #main-gnb #main-gnb-contents .gnb-user-profile h2 span {
  display: block;
  padding-top: 5px;
  color: #8B919F;
  font-size: 14px;
}

header.open #main-gnb .main-gnb-menu {
  height: calc(100vh - 150px);
  overflow: auto;
  margin-top: 0px;
}

header.open #main-gnb .main-gnb-menu * {
  font-size: 15px;
  color: #8B919F;
  text-transform: capitalize;
}

header.open #main-gnb .main-gnb-menu > li {
  width: 100%;
}

> header.open #main-gnb .main-gnb-menu > li:nth-child(4) i, header.open #main-gnb .main-gnb-menu > li:nth-child(10) i {
  margin-left: 2px;
}

header.open #main-gnb .main-gnb-menu > li > a {
  line-height: initial;
  text-align: left;
  padding: 14px 0px 14px 30px;
}

header.open #main-gnb .main-gnb-menu > li > a:hover span, header.open #main-gnb .main-gnb-menu > li > a:hover i {
  color: #f5f5f5;
}

header.open #main-gnb .main-gnb-menu > li > a i {
  padding-right: 5px;
}

header.open #main-gnb .main-gnb-menu > li > a span {
  display: inline;
}

header.open #main-gnb .main-gnb-menu > li ul.show {
  display: block;
}

header.open #main-gnb .main-gnb-menu > li ul {
  position: static;
  display: none;
  width: 100%;
  background: #21262D;
  padding: 10px 0px;
}

header.open #main-gnb .main-gnb-menu > li ul li a {
  padding: 8px 0px 8px 45px;
  line-height: initial;
  -webkit-transition: border .2s;
  transition: border .2s;
  font-size: 14px;
  -webkit-transition: padding-left .2s;
  transition: padding-left .2s;
}

header.open #main-gnb .main-gnb-menu > li ul li a:hover {
  background: none;
  padding-left: 55px;
}

main {
  margin: 61px 0px 0px 50px;
  padding: 30px;
  background: #E5E9EC;
  overflow: hidden;
}

header.open + main {
  margin-left: 250px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  main.open, main.open.sub {
    margin-left: 50px;
  }
  main {
    margin-left: 0px;
    padding: 16px;
  }
  header {
    background: #21262D;
  }
  i {
    color: #f5f5f5;
  }
  #main-tnb .tnb-wrap .refresh {
    display: none;
  }
  #main-tnb .tnb-wrap .bell {
    display: none;
  }
  #main-tnb .tnb-wrap .search-board {
    display: none;
  }
  #main-tnb .user-wrap .user-profile {
    display: none;
  }
  #main-gnb {
    display: none;
  }
}

body.index {
  background: #E5E9EC;
}

#overall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#overall article {
  position: relative;
  width: 24.5%;
  height: 155px;
  background: #27A599;
  padding: 20px;
}

#overall article h2 {
  color: #1A1D23;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#overall article ul:nth-of-type(2) {
  overflow: hidden;
  margin-top: 10px;
}

#overall article ul:nth-of-type(2) li {
  position: relative;
  float: left;
  margin-right: 10px;
}

#overall article ul:nth-of-type(2) li h3 {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.9);
}

#overall article ul:nth-of-type(2) li span {
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #f5f5f5;
}

#overall article ul:nth-of-type(2) li + li {
  margin-left: 11px;
}

#overall article ul:nth-of-type(2) li + li:before {
  position: absolute;
  left: -11px;
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
}

#overall article p {
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}

#overall article p span:first-of-type {
  display: block;
  width: 95%;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

#overall article p span:nth-of-type(2) {
  color: rgba(255, 255, 255, 0.9);
}

#overall article:nth-child(2) {
  background: #1992D6;
}

#overall article:nth-child(3) {
  background: #726186;
}

#overall article:nth-child(4) {
  background: #E9595A;
}

.re-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  overflow: hidden;
  z-index: 1;
}

.re-close-btn li {
  float: left;
}

.re-close-btn li:nth-child(2) i {
  font-size: 13px;
  margin-left: 5px;
}

.re-close-btn li a i {
  vertical-align: middle;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.re-close-btn li a i:hover {
  color: #f5f5f5;
}

section + section {
  margin-top: 10px;
}

#sales-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sales-info .map-area {
  width: 66.4%;
  overflow: hidden;
}

#sales-info .map-area div {
  float: left;
  width: 65%;
  background: #47B2A8;
}

#sales-info .map-area div img {
  width: 100%;
}

#sales-info .map-area div + div {
  width: 35%;
  height: 100%;
  background: #21262D;
}

#sales-info .sales {
  width: 32.85%;
  background: white;
}

#sales-info .sales ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
}

#sales-info .sales ul li {
  width: 49%;
  font-size: 18px;
  font-weight: 300;
}

#sales-info .sales ul li h3 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  margin-bottom: 10px;
}

#sales-info .sales ul li span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

#sales-info .sales > div + div {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: url(../img/sales-img/sales-design-img.png) no-repeat left top/contain;
}

section .table-wrap {
  margin: 0px 20px;
}

section .table-wrap table {
  width: 100%;
}

section .table-wrap table tbody tr + tr:hover {
  background-color: #f5f5f5;
}

section .table-wrap table tbody tr td {
  padding: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}

section .table-wrap table tbody tr td:first-child, section .table-wrap table tbody tr td:nth-child(3) {
  color: #27A599;
}

section .table-wrap table tbody tr td:nth-child(2) {
  max-width: 1px;
}

section .table-wrap table tbody tr td:nth-child(2) a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .table-wrap table tbody tr:first-child td {
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

section .table-wrap table tbody tr + tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.joing {
  position: relative;
}

.joing > div, .joing > ul {
  width: 32.85%;
}

.joing > .weather-today {
  width: 19.35%;
}

.joing > .weather-weak {
  width: 13.5%;
}

.joing .post {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 230px;
  padding: 22px;
  background: rgba(40, 162, 224, 0.85);
  color: #f5f5f5;
}

.joing .post i {
  display: inline-block;
  color: #f5f5f5;
}

.joing .post span:first-of-type {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.7;
}

.joing .post p {
  margin-top: 15px;
  font-size: 21px;
  font-weight: 100;
  line-height: 1.3;
}

.joing .post p em {
  font-weight: 400;
}

.joing .post span {
  display: inline-block;
  margin: 30px 5px 5px 0px;
}

.joing .joing-group {
  position: relative;
  overflow: hidden;
}

.joing .joing-group:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(130%);
}

.joing .joing-group em {
  font-style: initial;
}

.joing .joing-group img {
  width: 100%;
  transition: transform .4s, opacity .4s, -webkit-filter .4s;
  -webkit-filter: contrast(100%);
  vertical-align: top;
}

.joing .joing-group div:nth-of-type(2) {
  position: absolute;
  bottom: 20%;
  left: 4%;
}

.joing .joing-group div:nth-of-type(2) span {
  display: inline-block;
  padding: 4px 8px;
  border: 2px solid #f5f5f5;
  border-radius: 18px;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
}

.joing .joing-group div:nth-of-type(3) {
  position: absolute;
  bottom: 3%;
  width: 100%;
  padding-left: 4%;
  color: #f5f5f5;
}

.joing .joing-group div:nth-of-type(3) span {
  display: block;
  font-weight: bold;
}

.joing .joing-group div:nth-of-type(3) .user-profile {
  width: 35px;
  height: 35px;
  margin-top: 18px;
  margin-right: 0px;
  border-radius: 17px;
}

.joing .joing-group div:nth-of-type(3) input {
  position: absolute;
  bottom: 8%;
  left: 13%;
  width: 55%;
  background: #fff;
  padding: 10px;
}

.joing .joing-group div:nth-of-type(3) button {
  position: absolute;
  bottom: 8%;
  left: 70%;
  width: 20%;
  height: 35px;
  background: #27A599;
  color: #f5f5f5;
  font-weight: 100;
  border-radius: 3px;
}

.joing .joing-board {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  overflow: hidden;
}

.joing .joing-board li {
  position: absolute;
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  overflow: hidden;
}

.joing .joing-board li div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.joing .joing-board li div.board-active-top0 {
  top: 0%;
}

.joing .joing-board li div.board-active-top100 {
  top: -100%;
}

.joing .joing-board li div img {
  width: 100%;
  height: 100%;
}

.joing .joing-board li div:nth-child(1) {
  top: 0%;
}

.joing .joing-board li div:nth-child(2) {
  top: 100%;
}

.joing .joing-board li:first-child {
  top: 0%;
  left: 0%;
}

.joing .joing-board li:nth-child(2) {
  top: 0%;
  right: 0%;
}

.joing .joing-board li:nth-child(3) {
  bottom: 0%;
  left: 0%;
}

.joing .joing-board li:nth-child(4) {
  bottom: 0%;
  right: 0%;
}

.joing .weather-wrap {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
}

.joing .weather-wrap .weather-today {
  float: left;
  width: 65%;
  height: 100%;
  padding: 1.5% 0%;
  background: white;
  font-size: 60px;
  text-align: center;
}

.joing .weather-wrap .weather-today em {
  font-style: normal;
}

.joing .weather-wrap .weather-today span, .joing .weather-wrap .weather-today em {
  display: block;
}

.joing .weather-wrap .weather-today .inline {
  display: inline;
}

.joing .weather-wrap .weather-today h2 {
  padding: 6%;
  font-size: 17px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.joing .weather-wrap .weather-today div:first-of-type {
  padding-top: 10px;
  color: #F36564;
  font-size: 15px;
}

.joing .weather-wrap .weather-today div:first-of-type span, .joing .weather-wrap .weather-today div:first-of-type em {
  margin-top: 10px;
}

.joing .weather-wrap .weather-today div:first-of-type em {
  font-size: 34px;
}

.joing .weather-wrap .weather-today div:first-of-type span:first-child {
  text-transform: capitalize;
}

.joing .weather-wrap .weather-today div:first-of-type span:nth-child(3) {
  font-size: 13px;
}

.joing .weather-wrap .weather-today div:nth-of-type(2) {
  position: relative;
  height: 10%;
  width: 70%;
  margin: 10px auto;
  color: rgba(0, 0, 0, 0.5);
}

.joing .weather-wrap .weather-today div:nth-of-type(2) > span {
  position: absolute;
  top: 0%;
  width: 30%;
  padding: 2% 0%;
  font-size: 13px;
  font-weight: bold;
  background-size: cover;
}

.joing .weather-wrap .weather-today div:nth-of-type(2) > span:first-child {
  left: 0%;
  height: 100%;
  padding: 0%;
}

.joing .weather-wrap .weather-today div:nth-of-type(2) > span:nth-child(2) {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.joing .weather-wrap .weather-today div:nth-of-type(2) > span:nth-child(3) {
  right: 0%;
}

.joing .weather-wrap .weather-today ul {
  width: 95%;
  height: 45%;
  margin: 0 auto;
  padding: 15px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.joing .weather-wrap .weather-today ul li + li {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.joing .weather-wrap .weather-today ul li {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.joing .weather-wrap .weather-today ul li > span, .joing .weather-wrap .weather-today ul li > em {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 14px;
}

.joing .weather-wrap .weather-today ul li span:first-of-type {
  top: 15%;
  font-weight: 400;
}

.joing .weather-wrap .weather-today ul li span:first-of-type span {
  margin-top: 5px;
}

.joing .weather-wrap .weather-today ul li span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-size: 40px;
}

.joing .weather-wrap .weather-today ul li > em {
  bottom: 30%;
  color: #F36564;
}

.joing .weather-wrap .weather-weak {
  float: right;
  width: 30%;
  height: 100%;
  padding: 2% 1%;
}

.joing .weather-wrap .weather-weak table {
  width: 100%;
  height: 100%;
}

.joing .weather-wrap .weather-weak table tr {
  height: 5%;
  color: rgba(0, 0, 0, 0.7);
}

.joing .weather-wrap .weather-weak table tr span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
}

.joing .weather-wrap .weather-weak table tr td:first-child {
  text-transform: capitalize;
  font-weight: bold;
  color: #1A1D23;
  font-size: 12px;
}

.joing .weather-wrap .weather-weak table tr .w-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.joing .weather-wrap .weather-weak table tr .w-icon span {
  display: block;
  width: 100%;
  height: 100%;
}

.joing .weather-wrap .weather-weak table tr .w-deg {
  text-align: right;
  color: #F36564;
  font-weight: bold;
}

.w-sunny {
  background: url(../img/icon/weather/SVG/Sun.svg) no-repeat center/contain;
}

.w-rain {
  background: url(../img/icon/weather/SVG/Cloud-Rain.svg) no-repeat center/contain;
}

.w-cloudy {
  background: url(../img/icon/weather/SVG/Cloud.svg) no-repeat center/contain;
}

.w-partly-cloudy {
  background: url(../img/icon/weather/SVG/Cloud-Sun.svg) no-repeat center/contain;
}

@media all and (min-width: 1150px) and (max-width: 1600px) {
  #overall article {
    width: 32.85%;
  }
  #overall article:nth-child(4) {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1149px) {
  #overall {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #overall article {
    width: 49.5%;
  }
  #overall article:nth-child(3), #overall article:nth-child(4) {
    margin-top: 10px;
  }
  #overall article:nth-child(4) {
    display: block;
  }
  #sales-info .map-area {
    width: 100%;
  }
  #sales-info .sales {
    width: 49.5%;
    margin-top: 10px;
  }
  #sales-info .sales ul li {
    font-size: 16px;
  }
  #sales-info .sales ul li h3 {
    font-size: 11px;
  }
  #sales-info .table-wrap table tbody tr:first-child td {
    white-space: nowrap;
    font-size: 13px;
  }
  #sales-info .table-wrap table tbody tr td {
    padding: 10px 5px;
  }
  .joing {
    margin-bottom: 10px;
  }
  .joing > div, .joing > ul {
    width: 49.5%;
  }
  .joing .joing-board {
    left: auto;
    right: 0px;
    -webkit-transform: none;
            transform: none;
  }
  .joing .weather-wrap {
    top: calc(-322px - 10px);
    height: 322px;
  }
  .joing .weather-wrap .weather-today h2 {
    padding: 4%;
  }
  .joing .weather-wrap .weather-today div:first-of-type {
    padding-top: 5px;
  }
  .joing .weather-wrap .weather-today div:first-of-type span, .joing .weather-wrap .weather-today div:first-of-type em {
    margin-top: 5px;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) {
    margin: 5px auto;
  }
  .joing .weather-wrap .weather-today ul {
    height: 40%;
    padding: 5px 0px;
  }
  .joing .weather-wrap .weather-today ul li span:first-of-type {
    top: 10%;
  }
  .joing .weather-wrap .weather-today ul li span:nth-of-type(2) {
    top: 55%;
  }
  .joing .weather-wrap .weather-today ul li > em {
    bottom: 15%;
  }
  .joing .weather-wrap .weather-weak table tr .w-deg {
    vertical-align: middle;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .joing .joing-group {
    width: 100%;
  }
  .joing .joing-board {
    width: 100%;
    top: calc(100% + 10px);
    margin-bottom: 10px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #overall {
    display: block;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  #overall article + article {
    margin-top: 10px;
  }
  #overall article {
    width: 100%;
  }
  #sales-info {
    display: block;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  #sales-info .map-area {
    width: 100%;
    float: none;
  }
  #sales-info .map-area div {
    width: 100%;
    float: none;
  }
  #sales-info .map-area div + div {
    width: 100%;
    height: 375px;
  }
  #sales-info .sales {
    width: 100%;
  }
  #sales-info .sales ul {
    display: block;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    margin: 10px 0px 0px 0px;
    padding: 30px;
  }
  #sales-info .sales ul li + li {
    margin-top: 10px;
  }
  .joing > div, .joing > ul {
    width: 100%;
  }
  .joing .joing-board {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    height: auto;
  }
  .joing .joing-board li {
    position: relative;
    width: 100%;
    height: calc(100vw - 47px);
    margin-top: 10px;
    overflow: hidden;
  }
  .joing .weather-wrap {
    position: static;
    margin-top: 10px;
  }
  .joing .weather-wrap .weather-today {
    float: none;
    width: 100%;
  }
  .joing .weather-wrap .weather-today h2 {
    padding: 3%;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    height: auto;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span {
    position: static;
    vertical-align: middle;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span:first-child {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8% 5%;
    left: auto;
    background-origin: content-box;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span:nth-child(2) {
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span:nth-child(3) {
    right: auto;
  }
  .joing .weather-wrap .weather-today ul {
    height: 200px;
  }
  .joing .weather-wrap .weather-weak {
    float: none;
    width: 100%;
    height: 350px;
  }
}

main.sub {
  color: #2D3138;
}

header {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

header.open + main.sub {
  padding: 2% 8%;
}

main.sub {
  min-height: calc(100vh - 61px);
  padding: 2% 12%;
}

.sub #main-wrap {
  padding: 2%;
  background: #fff;
}

table {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #F4F5F7;
}

table td, table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table i {
  font-size: inherit;
}

.list-horizon {
  position: relative;
  height: 30%;
  padding-bottom: 50px;
}

.list-horizon .list-btn-style {
  position: absolute;
  display: block;
  width: 80px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  border-radius: 0px 0px 3px 3px;
  background: #E9595A;
  -webkit-box-shadow: 0px 4px #ab3c3c;
          box-shadow: 0px 4px #ab3c3c;
}

.list-horizon .list-btn-style:hover {
  top: 2px;
  -webkit-box-shadow: 0 2px #ab3c3c;
          box-shadow: 0 2px #ab3c3c;
}

.list-horizon .write-btn {
  right: 0%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.list-horizon .search-btn {
  left: 50%;
  bottom: 8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #888;
  -webkit-box-shadow: 0px 4px #222222;
          box-shadow: 0px 4px #222222;
}

.list-horizon .search-btn:hover {
  top: auto;
  bottom: 6px;
  -webkit-box-shadow: 0 2px #222222;
          box-shadow: 0 2px #222222;
}

.list-horizon table {
  font-size: 12px;
}

.list-horizon table caption {
  padding: 3% 0.8% 0.8%;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

.list-horizon table tr:nth-child(2) label {
  display: inline-block;
  margin-right: 10px;
}

.list-horizon table td {
  padding-left: 14px;
  height: 35px;
}

.list-horizon table td input[type="text"] {
  width: calc(100% - 110px);
}

.list-horizon table td input[type="text"], .list-horizon table td select {
  height: 20px;
  border: 1px solid #b8b9bb;
  border-radius: 0;
  color: #222;
  line-height: 13px;
}

.list-horizon table td select {
  padding: 0px 15px 0px 5px;
  background: url(../img/icon/arrow-both.png) no-repeat right center/14px;
}

.list-horizon table td .sub.list i {
  font-size: 12px;
}

.list-horizon table td.no-bg {
  background: none;
}

.list-board {
  position: relative;
  margin-top: 2%;
  height: 66%;
}

.list-board table {
  font-size: 13px;
}

.list-board table tr:hover {
  background: #f5f5f5;
}

.list-board table th {
  height: 30px;
  background: #F4F5F7;
}

.list-board table td {
  text-align: center;
  height: 35px;
}

.list-board table td:nth-child(2) {
  text-align: left;
  padding-left: 14px;
  max-width: 1px;
}

.list-board table td:nth-child(2) a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-board table td:last-child span + span {
  display: block;
  color: gray;
}

.list-board .page-control {
  position: relative;
  text-align: center;
}

.list-board .page-control ul {
  display: inline-block;
  margin: 20px auto 0px;
  text-align: center;
  font-size: 0px;
}

.list-board .page-control ul li {
  display: inline-block;
  font-size: 13px;
}

.list-board .page-control ul li a {
  position: relative;
  display: inline-block;
  color: #777;
  padding: 5px;
}

.list-board .page-control ul li a:hover {
  color: #333;
}

.list-board .page-control ul li a:hover:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #999;
  opacity: 0.3;
}

.list-board .page-control ul li + li:before {
  display: inline-block;
  content: '';
  width: 1px;
  height: 8px;
  background: #777;
}

.list-board .page-control > a {
  display: inline-block;
  width: 10px;
}

.list-board .page-control > a img {
  width: 100%;
}

.write ul li span em {
  display: inline-block;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.write .list-horizon h2 {
  padding: 1% 0.8% 0.8%;
}

.write .list-horizon table td {
  height: 0px;
  padding: 13px;
}

.write input[type="file"] {
  margin-top: 10px;
}

.write .file-preview li, .write .image-preview li {
  border: 1px solid #d2d2d3;
  border-radius: 3px;
  color: #444;
}

.write .file-preview li i, .write .image-preview li i {
  margin: 0px 4px;
  vertical-align: middle;
}

.write .file-preview li em, .write .image-preview li em {
  padding-left: 5px;
  font-style: normal;
  vertical-align: middle;
}

.write .file-preview li + li {
  margin-top: 5px;
}

.write .file-preview li {
  position: relative;
  width: 95%;
  padding: 7px;
}

.write .file-preview li .file-size {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  margin: 0px;
}

.write .file-preview li .file-delete {
  top: 50%;
  right: 70px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.write .image-preview {
  overflow: hidden;
}

.write .image-preview li {
  position: relative;
  display: block;
  float: left;
  width: 200px;
  height: 210px;
  margin: 5px 10px 0px 0px;
  padding: 5px;
  background: #FAFCFE;
}

.write .image-preview li div {
  position: relative;
  height: 140px;
  margin-bottom: 5px;
  border: 1px solid #d2d2d3;
  border-radius: 3px;
}

.write .image-preview li div img, .write .image-preview li div i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.write .image-preview li div img {
  max-width: 100%;
  max-height: 100%;
}

.write .image-preview li div i {
  font-size: 70px;
}

.write .image-preview li .file-delete {
  bottom: 5px;
  right: 5px;
}

.write .image-preview .attached-image-fix {
  position: relative;
}

.write .list-btn-style {
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-weight: bold;
}

.write .list-btn-style:hover {
  top: auto;
  bottom: -2px;
}

.write .buttons {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.write .buttons .btn {
  width: 80px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  border-radius: 0px 0px 3px 3px;
  background: #E9595A;
}

.write .buttons .btn:hover {
  background: #ab3c3c;
}

.write .buttons .btn + .btn {
  margin-left: 20px;
}

.write .file-size {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
}

.view ul li span em {
  display: inline-block;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.view .list-horizon h2 {
  padding: 1% 0.8% 0.8%;
}

.view .list-horizon table td {
  height: 0px;
  padding: 13px;
}

.view .list-horizon table td:first-child {
  background: #F4F5F7;
}

.view input[type="file"] {
  margin-top: 10px;
}

.view .file-preview li, .view .image-preview li {
  border: 1px solid #d2d2d3;
  border-radius: 3px;
  color: #444;
}

.view .file-preview li i, .view .image-preview li i {
  margin: 0px 4px;
  vertical-align: middle;
}

.view .file-preview li em, .view .image-preview li em {
  padding-left: 5px;
  font-style: normal;
  vertical-align: middle;
}

.view .file-preview li + li {
  margin-top: 5px;
}

.view .file-preview li {
  position: relative;
  width: 95%;
  padding: 7px;
}

.view .file-preview li .file-size {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  margin: 0px;
}

.view .file-preview li .file-delete {
  top: 50%;
  right: 70px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.view .image-preview {
  overflow: hidden;
}

.view .image-preview li {
  position: relative;
  display: block;
  float: left;
  width: 200px;
  height: 210px;
  margin: 5px 10px 0px 0px;
  padding: 5px;
  background: #FAFCFE;
}

.view .image-preview li div {
  position: relative;
  height: 140px;
  margin-bottom: 5px;
  border: 1px solid #d2d2d3;
  border-radius: 3px;
}

.view .image-preview li div img, .view .image-preview li div i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.view .image-preview li div img {
  max-width: 100%;
  max-height: 100%;
}

.view .image-preview li div i {
  font-size: 70px;
}

.view .image-preview li .file-delete {
  bottom: 5px;
  right: 5px;
}

.view .image-preview .attached-image-fix {
  position: relative;
}

.view .list-btn-style {
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-weight: bold;
}

.view .list-btn-style:hover {
  top: auto;
  bottom: -2px;
}

.view .buttons {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.view .buttons .btn {
  width: 80px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  border-radius: 0px 0px 3px 3px;
  background: #E9595A;
}

.view .buttons .btn:hover {
  background: #ab3c3c;
}

.view .buttons .btn + .btn {
  margin-left: 20px;
}

.view .file-basket a {
  display: inline-block;
  border-bottom: 1px solid #9c9898;
}

.view .file-basket .file-size {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
  margin-left: 10px;
}

.d-green {
  color: #00BCA4;
}

.d-yellow {
  color: #ffcc00;
}

.file-size {
  display: block;
  width: 55px;
  height: 18px;
  line-height: 18px;
  margin: 10px 4px;
  color: #f5f5f5;
  background: #00BCA4;
  border: 1px solid #009783;
  border-radius: 3px;
  text-align: center;
}

.file-delete {
  position: absolute;
}

.file-delete i {
  font-size: 20px;
  color: red;
}

.file-delete:hover {
  background: yellow;
}

@media all and (min-width: 768px) and (max-width: 1149px) {
  main.sub {
    padding: 2% 5%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  main.write ul li span em {
    display: inline-block;
    width: 70%;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  main.sub {
    margin: 0px;
    padding: 81px 16px 16px 16px;
  }
  main.list table {
    max-width: 100%;
    overflow: hidden;
  }
  main.list table tr, main.list table th, main.list table td {
    display: block;
  }
  main.list .list-horizon {
    overflow: hidden;
  }
  main.list .list-horizon table tbody tr, main.list .list-horizon table tbody th, main.list .list-horizon table tbody td {
    float: left;
    line-height: 35px;
  }
  main.list .list-horizon table tbody tr {
    width: 100%;
  }
  main.list .list-horizon table tbody th {
    width: 80px;
    height: 35px;
    text-align: left;
    padding-left: 10px;
  }
  main.list .list-horizon table tbody td {
    width: calc(100% - 80px);
  }
  main.list .list-horizon table tfoot td {
    height: auto;
    padding: 10px;
  }
  main.list .list-board table {
    table-layout: fixed;
  }
  main.list .list-board table colgroup {
    display: none;
  }
  main.list .list-board table thead th {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    text-indent: -9999px;
    font-size: 0px;
  }
  main.list .list-board table tbody tr {
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  main.list .list-board table tbody tr td {
    border: none;
    line-height: 35px;
  }
  main.list .list-board table tbody tr td:first-child {
    display: none;
  }
  main.list .list-board table tbody tr td:nth-child(2) {
    max-width: 100%;
    font-weight: bold;
  }
  main.list .list-board table tbody tr td:nth-child(3), main.list .list-board table tbody tr td:last-child {
    float: left;
    font-size: 12px;
  }
  main.list .list-board table tbody tr td:nth-child(3) {
    width: 110px;
  }
  main.list .list-board table tbody tr td:last-child {
    position: relative;
    width: 90px;
  }
  main.list .list-board table tbody tr td:last-child:before {
    position: absolute;
    top: 50%;
    left: -1px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background: gray;
  }
  main.write {
    padding-bottom: 50px;
    background: #fff;
  }
  main.write ul li span em {
    width: 48%;
  }
  main.write .image-preview li {
    float: none;
    margin: 5px auto;
  }
}

@media all and (max-width: 320px) {
  * {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */