body.index {
  background: #E5E9EC;
}

#overall {
  display: flex;
  justify-content: space-between;

  article {
    position: relative;
    width: 24.5%;
    height: 155px;
    background: #27A599;
    padding: 20px;

    h2 {
      color: #1A1D23;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    ul:nth-of-type(2) {
      overflow: hidden;
      margin-top: 10px;

      li {
        position: relative;
        float: left;
        margin-right: 10px;

        h3 {
          text-transform: capitalize;
          margin-bottom: 5px;
          color: rgba(255,255,255,0.9);
        }

        span {
          font-weight: 600;
          letter-spacing: 0.5px;
          color: #f5f5f5;
        }
      }

      li+li {
        margin-left: 11px;

        &:before {
          position: absolute;
          left: -11px;
          content: '';
          display: block;
          width: 1px;
          height: 40px;
          background: rgba(0,0,0,0.2);
        }
      }
    }

    p {
      margin-top: 25px;
      color: rgba(0,0,0,0.4);
      font-size: 13px;

      span:first-of-type {
        display: block;
        width: 95%;
        height: 2px;
        background: rgba(0,0,0,0.3);
        margin-bottom: 10px;
      }

      span:nth-of-type(2) {
        color: rgba(255,255,255,0.9);
      }
    }
  }
  article:nth-child(2) {background: #1992D6;}
  article:nth-child(3) {background: #726186;}
  article:nth-child(4) {background: #E9595A;}
}

.re-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  overflow: hidden;
  z-index: 1;

  li {
    float: left;

    &:nth-child(2) {
      i {
        font-size: 13px;
        margin-left: 5px;
      }
    }

    a {
      i {
        vertical-align: middle;
        font-size: 10px;
        color: rgba(0,0,0,0.4);

        &:hover {
          color: #f5f5f5;
        }
      }
    }
  }
}

section+section {
  margin-top: 10px;
}

#sales-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .map-area {
    width: 66.4%;
    overflow: hidden;

    div {
      float: left;
      width: 65%;
      background: #47B2A8;

      img {
        width: 100%;
      }
    }

    div+div {
      width: 35%;
      height: 100%;
      background: #21262D;
    }
  }

  .sales {
    width: 32.85%;
    background: white;

    ul {
      display: flex;
      justify-content: space-between;
      margin: 30px;

      li {
        width: 49%;
        font-size: 18px;
        font-weight: 300;

        h3 {
          color: rgba(0,0,0,0.4);
          font-size: 13px;
          margin-bottom: 10px;
        }

        span {
          color: rgba(0,0,0,0.7);
          font-weight: 400;
        }
      }
    }


    > div+div {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      background: url(../img/sales-img/sales-design-img.png) no-repeat left top / contain;
    }
  }
}

section {
  .table-wrap {
    margin: 0px 20px;

    table {
      width: 100%;

      tbody {
        tr+tr {
          &:hover {
            background-color: #f5f5f5;
          }
        }

        tr {
          td {
            padding: 10px;
            color: rgba(0,0,0,0.4);
            font-size: 13px;
          }

          td:first-child, td:nth-child(3) {
            color: #27A599;
          }

          td:nth-child(2) {
            max-width: 1px;
            a {
              display: block;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }

        tr:first-child {
          td {
            padding-bottom: 15px;
            text-transform: uppercase;
            font-size: 14px;
            color: rgba(0,0,0,0.7);
          }
        }

        tr+tr {
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
    }
  }
}

.joing {
  position: relative;
  
  > div, > ul {
    width: 32.85%;
  }

  > .weather-today {
    width: 19.35%;
  }

  > .weather-weak {
    width: 13.5%;
  }

  .post {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 230px;
    padding: 22px;
    background: rgba(40, 162, 224, 0.85);
    color: #f5f5f5;

    i {
      display: inline-block;
      color: #f5f5f5;
    }

    span:first-of-type {
      display: block;
      margin-top: 20px;
      font-size: 12px;
      opacity: 0.7;
    }

    p {
      margin-top: 15px;
      font-size: 21px;
      font-weight: 100;
      line-height: 1.3;

      em {
        font-weight: 400;
      }
    }

    span {
      display: inline-block;
      margin: 30px 5px 5px 0px;
    }
  }

  .joing-group {
    position: relative;
    overflow: hidden;


    &:hover {
      img {
        transform: scale(1.1);
        //opacity: 0.9;
        -webkit-filter: contrast(130%);
      }
    }
    
    em {
      font-style: initial;
    }

    img {
      width: 100%;
      transition: transform .4s, opacity .4s, -webkit-filter .4s;
      //opacity: 1;
      -webkit-filter: contrast(100%);
      vertical-align: top;
    }

    div:nth-of-type(2) {
      position: absolute;
      bottom: 20%;
      left: 4%;

      span {
        display: inline-block;
        padding: 4px 8px;
        border: 2px solid #f5f5f5;
        border-radius: 18px;
        color: #f5f5f5;
        font-size: 12px;
        font-weight: bold;
      }
    }

    div:nth-of-type(3) {
      position: absolute;
      bottom: 3%;
      width: 100%;
      padding-left: 4%;
      color: #f5f5f5;

      span {
        display: block;
        font-weight: bold;
      }

      .user-profile {
        width: 35px;
        height: 35px;
        margin-top: 18px;
        margin-right: 0px;
        border-radius: 17px;
      }

      input {
        position: absolute;
        bottom: 8%;
        left: 13%;
        width: 55%;
        background: #fff;
        padding: 10px;
      }

      button {
        position: absolute;
        bottom: 8%;
        left: 70%;
        width: 20%;
        height: 35px;
        background: #27A599;
        color: #f5f5f5;
        font-weight: 100;
        border-radius: 3px;
      }
    }
  }

  .joing-board {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    overflow: hidden;

    li {
      position: absolute;
      width: calc(50% - 5px);
      height: calc(50% - 5px);
      overflow: hidden;

      div {
        position: absolute;
        width: 100%;
        height: 100%;
        // transition: top .5s;

        &.board-active-top0 {
          top: 0%;
        }

        &.board-active-top100 {
          top: -100%;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      div:nth-child(1) {
        top: 0%;
      }
      
      div:nth-child(2) {
        top: 100%;
      }
    }

    li:first-child {top: 0%; left: 0%;}
    li:nth-child(2) {top: 0%; right: 0%;}
    li:nth-child(3) {bottom: 0%; left: 0%;}
    li:nth-child(4) {bottom: 0%; right: 0%;}
  }

  .weather-wrap {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;

    .weather-today {
      float: left;
      width: 65%;
      height: 100%;
      padding: 1.5% 0%;
      background: white;
      font-size: 60px;
      text-align: center;

      em {
        font-style: normal;
      }

      span, em {
        display: block;
      }

      .inline {
        display: inline;
      }

      h2 {
        padding: 6%;
        font-size: 17px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }

      div:first-of-type {
        padding-top: 10px;
        color: #F36564;
        font-size: 15px;

        span, em {
          margin-top: 10px;
        }

        em {
          font-size: 34px;
        }

        span:first-child {
          text-transform: capitalize;
        }

        span:nth-child(3) {
          font-size: 13px;
        }
      }
      
      div:nth-of-type(2) {
        position: relative;
        height: 10%;
        width: 70%;
        margin: 10px auto;
        color: rgba(0,0,0,0.5);

        > span {
          position: absolute;
          top: 0%;
          width: 30%;
          padding: 2% 0%;
          font-size: 13px;
          font-weight: bold;
          background-size: cover;
        }

        > span:first-child {
          left: 0%;
          height: 100%;
          padding: 0%;
        }

        > span:nth-child(2) {
          left: 50%;
          transform: translateX(-50%);
        }

        > span:nth-child(3) {
          right: 0%;
        }
      }

      ul {
        width: 95%;
        height: 45%;
        margin: 0 auto;
        padding: 15px 0px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        overflow: hidden;

        li+li {
          border-left: 1px solid rgba(0,0,0,0.1);
        }

        li {
          position: relative;
          float: left;
          width: 20%;
          height: 100%;
          font-size: 12px;
          font-weight: bold;
          color: rgba(0,0,0,0.5);
          
          > span, >em {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
          }

          span:first-of-type {
            top: 15%;
            font-weight: 400;

            span {
              margin-top: 5px;
            }
          }

          span:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background-size: 40px;          
          }

          > em {
            bottom: 30%;
            color: #F36564;
          }
        }
      }
    }

    .weather-weak {
      float: right;
      width: 30%;
      height: 100%;
      padding: 2% 1%;

      table {
        width: 100%;
        height: 100%;

        tr {
          height: 5%;
          color: rgba(0,0,0,0.7);

          span {
            color: rgba(0,0,0,0.7);
            font-weight: normal;
          }

          td:first-child {
            text-transform: capitalize;
            font-weight: bold;
            color: #1A1D23;
            font-size: 12px;
          }

          .w-icon {
            display: block;
            width: 100%;
            height: 100%;

            span {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          .w-deg {
            text-align: right;
            color: #F36564;
            font-weight: bold;
          }
        }
      }
    }
  }
}

//날씨 class
.w-sunny {
  background: url(../img/icon/weather/SVG/Sun.svg) no-repeat center / contain;
}

.w-rain {
  background: url(../img/icon/weather/SVG/Cloud-Rain.svg) no-repeat center / contain;
}

.w-cloudy {
  background: url(../img/icon/weather/SVG/Cloud.svg) no-repeat center / contain;
}

.w-partly-cloudy {
  background: url(../img/icon/weather/SVG/Cloud-Sun.svg) no-repeat center / contain;
}

