@media all and (min-width: 1150px) and (max-width: 1600px) {
  #overall article {
    width: 32.85%;
  }
  #overall article:nth-child(4) {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1149px) {
  #overall {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #overall article {
    width: 49.5%;
  }
  #overall article:nth-child(3), #overall article:nth-child(4) {
    margin-top: 10px;
  }
  #overall article:nth-child(4) {
    display: block;
  }
  #sales-info .map-area {
    width: 100%;
  }
  #sales-info .sales {
    width: 49.5%;
    margin-top: 10px;
  }
  #sales-info .sales ul li {
    font-size: 16px;
  }
  #sales-info .sales ul li h3 {
    font-size: 11px;
  }
  #sales-info .table-wrap table tbody tr:first-child td {
    white-space: nowrap;
    font-size: 13px;
  }
  #sales-info .table-wrap table tbody tr td {
    padding: 10px 5px;
  }
  .joing {
    margin-bottom: 10px;
  }
  .joing > div, .joing > ul {
    width: 49.5%;
  }
  .joing .joing-board {
    left: auto;
    right: 0px;
    -webkit-transform: none;
            transform: none;
  }
  .joing .weather-wrap {
    top: calc(-322px - 10px);
    height: 322px;
  }
  .joing .weather-wrap .weather-today h2 {
    padding: 4%;
  }
  .joing .weather-wrap .weather-today div:first-of-type {
    padding-top: 5px;
  }
  .joing .weather-wrap .weather-today div:first-of-type span, .joing .weather-wrap .weather-today div:first-of-type em {
    margin-top: 5px;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) {
    margin: 5px auto;
  }
  .joing .weather-wrap .weather-today ul {
    height: 40%;
    padding: 5px 0px;
  }
  .joing .weather-wrap .weather-today ul li span:first-of-type {
    top: 10%;
  }
  .joing .weather-wrap .weather-today ul li span:nth-of-type(2) {
    top: 55%;
  }
  .joing .weather-wrap .weather-today ul li > em {
    bottom: 15%;
  }
  .joing .weather-wrap .weather-weak table tr .w-deg {
    vertical-align: middle;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .joing .joing-group {
    width: 100%;
  }
  .joing .joing-board {
    width: 100%;
    top: calc(100% + 10px);
    margin-bottom: 10px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #overall {
    display: block;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  #overall article + article {
    margin-top: 10px;
  }
  #overall article {
    width: 100%;
  }
  #sales-info {
    display: block;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  #sales-info .map-area {
    width: 100%;
    float: none;
  }
  #sales-info .map-area div {
    width: 100%;
    float: none;
  }
  #sales-info .map-area div + div {
    width: 100%;
    height: 375px;
  }
  #sales-info .sales {
    width: 100%;
  }
  #sales-info .sales ul {
    display: block;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    margin: 10px 0px 0px 0px;
    padding: 30px;
  }
  #sales-info .sales ul li + li {
    margin-top: 10px;
  }
  .joing > div, .joing > ul {
    width: 100%;
  }
  .joing .joing-board {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    height: auto;
  }
  .joing .joing-board li {
    position: relative;
    width: 100%;
    height: calc(100vw - 47px);
    margin-top: 10px;
    overflow: hidden;
  }
  .joing .weather-wrap {
    position: static;
    margin-top: 10px;
  }
  .joing .weather-wrap .weather-today {
    float: none;
    width: 100%;
  }
  .joing .weather-wrap .weather-today h2 {
    padding: 3%;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    height: auto;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span {
    position: static;
    vertical-align: middle;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span:first-child {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8% 5%;
    left: auto;
    background-origin: content-box;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span:nth-child(2) {
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  .joing .weather-wrap .weather-today div:nth-of-type(2) > span:nth-child(3) {
    right: auto;
  }
  .joing .weather-wrap .weather-today ul {
    height: 200px;
  }
  .joing .weather-wrap .weather-weak {
    float: none;
    width: 100%;
    height: 350px;
  }
}
/*# sourceMappingURL=index-reactive.css.map */