//max-width : 2560
//media-768 ~  1149 
@media all and (min-width: 768px) and (max-width: 1149px) {
  main {
    padding: 2% 5%;
  }
}

//media-768 ~  991 
@media all and (min-width: 768px) and (max-width: 991px) {
  main.write {
    ul li span {
      em {
        display: inline-block;
        width: 70%;
      }
    }
  }
}

//media-320 ~ 767 
@media all and (min-width: 320px) and (max-width: 767px) {
  main.sub {
    padding: 0%;
    margin: 61px 16px 16px 16px;
  }
  
  //sub (list)
  main.list {
    table {
      max-width: 100%;
      overflow: hidden;

      tr, th, td {
        display: block;
      }
    }

    .list-horizon {
      overflow: hidden;

      table{
        tbody {
          tr, th, td {
            float: left;
            line-height: 35px;
          }
      
          tr {
            width: 100%;
          }
      
          th {
            width: 80px;
            height: 35px;
            text-align: left;
            padding-left: 10px;
          }
      
          td {
            width: calc(100% - 80px);
          }
        }

        tfoot {
          td {
            height: auto;
            padding: 10px;
          }
        }

      }
    }

    .list-board table {
      table-layout: fixed;

      colgroup {
        display: none;
      }

      thead {
        th {
          //visibility hidden도 안읽어줄수있음
          //리더기에서 옵션으로 display:none도 읽으라고 설정한다면 읽음
          visibility: hidden;
          width: 0px;
          height: 0px;
          margin: 0px;
          padding: 0px;
          text-indent: -9999px;
          font-size: 0px;
        }
      }

      tbody {
        tr {
          overflow: hidden;
          border-bottom: 1px solid rgba(0,0,0,0.1);

          td {
            border: none;
            line-height: 35px;
          }

          td:first-child {
            display: none;
          }

          td:nth-child(2) {
            max-width: 100%;
            font-weight: bold;
          }

          td:nth-child(3), td:last-child {
            float: left;
            font-size: 12px;
          }

          td:nth-child(3) {
            width: 110px;
          }

          td:last-child {
            position: relative;
            width: 90px;
            
            &:before {
              position: absolute;
              top: 50%;
              left: -1px;
              transform: translateY(-50%);
              display: block;
              content: '';
              width: 1px;
              height: 10px;
              background: gray;
            }
          }
        }
      }
    }
  }

  //sub (write)
  main.write {
    padding-bottom: 50px;
    background: #fff;

    ul li span {
      em {
        width: 48%;
      }
    }

    .image-preview {
      li {
        float: none;
        margin: 5px auto;
      }
    }
  }
}

//~320
@media all and (max-width: 320px) {
  * {
    display: none;
  }
}